.searchBoxDiv{
    margin-bottom: 32px;
    width: 100%;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;

}

.searchInput{
    height: 32px;
    width: 360px;

}